<div class="w-screen h-screen  flex flex-col overflow-auto">
  <div class="h-[100%] w-[100%]">
    <section class="shadow-customMap-shadow flex  flex-row justify-between bg-custom-primary w-full h-[12%] ">
      <div class="flex flex-row justify-center items-center">
        <img src="assets/logo_sw2final.png" alt="" class="object-contain h-[200px] w-[200px]">
        <p class="text-white font-bold font-google-anta text-5xl" style="text-shadow: 3.5px 3.5px black;">UrbanEase
          Solutions
        </p>
      </div>
      <div class="flex flex-row w-[35%] h-full justify-end items-center pr-[2.5%] gap-[5%]">
        <img src="assets/facebook.svg" alt="" class="h-10 w-10">
        <img src="assets/icons8-linkedin.svg" alt="" class="h-10 w-10">
        <img src="assets/twitter.svg" alt="" class="h-10 w-10">
        <img src="assets/instagram.svg" alt="" class="h-10 w-10">
        <img src="assets/youtube.svg" alt="" class="h-10 w-10">
      </div>
    </section>
    <section class="flex flex-row w-[100%] h-[80%]  px-[10%] ">
      <div class="px-[2%]  w-[60%] h-full  items-center justify-center flex flex-col gap-[2%]">
        <p class="text-black font-google-anta text-4xl font-bold" style="text-shadow: 3px 3px #31bb11;">Nuestra Mision
        <p class="text-black font-google-anta text-2xl ">
          En UrbanEase Solutions, nuestra misión es liderar el desarrollo de software innovador para entornos urbanos,
          destacándonos por nuestra excelencia en calidad y nuestra capacidad para ofrecer soluciones tecnológicas
          integrales que optimicen la experiencia urbana. Nos comprometemos a impulsar la evolución digital de las
          ciudades, mejorando la eficiencia, la seguridad y la calidad de vida de sus habitantes a través de productos
          tecnológicos vanguardistas y de alto impacto.
        </p>
        <p class="text-black font-google-anta text-4xl font-bold" style="text-shadow: 3px 3px #31bb11;">Nuestra Vision
        <p class="text-black font-google-anta text-2xl ">
          Nos visualizamos como líderes globales en el campo del desarrollo de software para ciudades inteligentes,
          reconocidos por nuestra capacidad para transformar positivamente los entornos urbanos mediante soluciones
          tecnológicas innovadoras. Aspiramos a ser un catalizador del progreso urbano, contribuyendo a la creación de
          comunidades más conectadas, sostenibles e inclusivas a través de la implementación de nuestras tecnologías.
        </p>
      </div>
      <div class=" w-[40%] h-full flex items-center justify-center">
        <img src="https://i.pinimg.com/564x/c5/f2/91/c5f29172e7b7efaa3cf8b6a0ba018ab8.jpg" alt=""
          class="object-cover rounded-xl shadow-custom-shadow">
      </div>
    </section>
    <section class=" w-[100%] h-[100%]  px-[10%] flex flex-col gap-[1%] mb-[4%]">
      <p class="text-black font-google-anta text-4xl font-bold" style="text-shadow: 3px 3px #31bb11;">Políticas de
        Privacidad

      </p>
      <hr>
      <!-- text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide max-w-4xl -->
      <p class="text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide ">
        En UrbanEase Solutions, la Protección de Datos es una prioridad fundamental para asegurar la confidencialidad,
        integridad y disponibilidad de la información personal que gestionamos en nuestros sistemas. Implementamos un
        enfoque integral que abarca políticas, procesos y tecnologías diseñadas para cumplir con las normativas de
        protección de datos vigentes y proteger los derechos de privacidad de nuestros usuarios y clientes.
      </p>
      <ul
        class="list-disc pl-10 space-y-4 text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide">
        <li>
          <strong>Recopilación de Datos:</strong> Recolectamos información personal de nuestros usuarios solo cuando es
          necesaria para proporcionar nuestros servicios. Esto puede incluir datos como nombre, dirección de correo
          electrónico, información de contacto, preferencias de uso y cualquier otra información relevante para mejorar
          la experiencia del usuario.
        </li>
        <li>
          <strong>Uso de Datos:</strong> Utilizamos la información personal recopilada para personalizar la experiencia
          del usuario, proporcionar soporte técnico, comunicarnos sobre actualizaciones y mejoras en nuestros servicios,
          y para cualquier otro propósito especificado al recopilar los datos. No compartimos esta información con
          terceros sin el consentimiento explícito del usuario, a menos que sea requerido por ley o para proteger
          nuestros derechos.
        </li>
        <li>
          <strong>Seguridad de Datos:</strong> Implementamos medidas de seguridad técnicas y organizativas para proteger
          los datos personales contra el acceso no autorizado, la pérdida, el uso indebido o la divulgación. Esto
          incluye el uso de cifrado, controles de acceso, políticas de retención de datos y auditorías periódicas para
          asegurar el cumplimiento de nuestras políticas de privacidad.
        </li>
        <li>
          <strong>Derechos del Usuario:</strong> Respetamos los derechos de los usuarios sobre sus datos personales,
          incluyendo el derecho de acceso, rectificación, eliminación y restricción de procesamiento. Los usuarios
          pueden ejercer estos derechos enviando una solicitud a nuestro equipo de soporte, y nos comprometemos a
          responder dentro de los plazos establecidos por la ley aplicable.
        </li>
        <li>
          <strong>Actualización de Políticas:</strong> Revisamos nuestras políticas de privacidad regularmente para
          asegurar que reflejen las prácticas actuales de recopilación y gestión de datos, así como para cumplir con los
          cambios en las leyes de protección de datos. Notificaremos a los usuarios sobre cualquier cambio significativo
          en nuestras políticas y solicitaremos su consentimiento cuando sea necesario.
        </li>
      </ul>
    </section>
    <section class=" w-[100%] h-[25%]  px-[10%] flex flex-col gap-[1%]">
      <p class="text-black font-google-anta text-4xl font-bold" style="text-shadow: 3px 3px #31bb11;">Protección de
        Datos
      </p>
      <hr>
      <!-- text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide max-w-4xl -->
      <p class="text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide ">
        En UrbanEase Solutions, la Protección de Datos es una prioridad fundamental para asegurar la confidencialidad,
        integridad y disponibilidad de la información personal que gestionamos en nuestros sistemas. Implementamos un
        enfoque integral que abarca políticas, procesos y tecnologías diseñadas para cumplir con las normativas de
        protección de datos vigentes y proteger los derechos de privacidad de nuestros usuarios y clientes.
      </p>
    </section>
    <section class=" w-[100%] h-[20%]  px-[10%] flex flex-col gap-[1%]">
      <p class="text-black font-google-anta text-4xl font-bold" style="text-shadow: 3px 3px #31bb11;">Aviso Legal

      </p>
      <hr>
      <!-- text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide max-w-4xl -->
      <p class="text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide ">
        El Aviso Legal de UrbanEase Solutions establece las condiciones generales de uso de nuestro sitio web y
        servicios, y define las responsabilidades tanto de los usuarios como de la empresa en relación con el acceso y
        uso de la información proporcionada.
      </p>
    </section>
    <section class=" w-[100%] h-[100%]  px-[10%] flex flex-col gap-[1%] mb-[4%]">
      <p class="text-black font-google-anta text-4xl font-bold" style="text-shadow: 3px 3px #31bb11;">Datos y Normas
      </p>
      <hr>
      <p class="text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide ">
        UrbanEase Solutions se basa en normas y estándares reconocidos internacionalmente para asegurar la calidad y
        eficacia de nuestros productos tecnológicos, garantizando así la interoperabilidad y el cumplimiento con las
        mejores prácticas de la industria.
      </p>
      <ul
        class="list-disc pl-10 space-y-4 text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide">
        <li>
          <strong>ISO/IEC 20546:</strong>Esta norma internacional establece directrices para la auditoría de sistemas de
          gestión de la seguridad de la información. UrbanEase Solutions se adhiere a esta norma para evaluar y mejorar
          continuamente nuestros controles de seguridad de la información y proteger los datos de nuestros usuarios.
        </li>
        <li>
          <strong>ISO/IEC 27001: </strong> Especifica los requisitos para establecer, implementar, mantener y mejorar un
          sistema de gestión de seguridad de la información dentro del contexto de los riesgos de la organización.
          UrbanEase Solutions está certificada bajo ISO/IEC 27001, garantizando así que cumplimos con estándares
          internacionales reconocidos para la seguridad de la información.
        </li>
        <li>
          <strong>Seguridad de Datos:</strong> Implementamos medidas de seguridad técnicas y organizativas para proteger
          los datos personales contra el acceso no autorizado, la pérdida, el uso indebido o la divulgación. Esto
          incluye el uso de cifrado, controles de acceso, políticas de retención de datos y auditorías periódicas para
          asegurar el cumplimiento de nuestras políticas de privacidad.
        </li>
        <li>
          <strong>GDPR (Reglamento General de Protección de Datos):</strong> Aunque no es una norma técnica, el GDPR
          establece normas para la protección de datos personales de individuos dentro de la Unión Europea. UrbanEase
          Solutions cumple con las disposiciones del GDPR en cuanto a la recolección, almacenamiento, procesamiento y
          transferencia de datos personales.
        </li>
        <li>
          <strong>Actualización de Políticas:</strong> Revisamos nuestras políticas de privacidad regularmente para
          asegurar que reflejen las prácticas actuales de recopilación y gestión de datos, así como para cumplir con los
          cambios en las leyes de protección de datos. Notificaremos a los usuarios sobre cualquier cambio significativo
          en nuestras políticas y solicitaremos su consentimiento cuando sea necesario.
        </li>
      </ul>
    </section>
  </div>
</div>
