/* Estilo general del scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

/* Estilo del track del scrollbar */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color de fondo del track */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo del thumb del scrollbar */
::-webkit-scrollbar-thumb {
  background: #888; /* Color de fondo del thumb */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo del thumb del scrollbar al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de fondo del thumb al pasar el mouse */
}

/* Aplicando estilos solo al contenedor con la clase .custom-scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
