<div class="w-screen h-screen  flex flex-col overflow-auto">
  <div class="h-[100%] w-[100%]">
    <section class="shadow-customMap-shadow flex  flex-row justify-between bg-custom-primary w-full h-[12%] ">
      <div class="flex flex-row justify-center items-center">
        <img src="assets/logo_sw2final.png" alt="" class="object-contain h-[200px] w-[200px]">
        <p class="text-white font-bold font-google-anta text-5xl" style="text-shadow: 3.5px 3.5px black;">UrbanEase
          Solutions
        </p>
      </div>
      <div class="flex flex-row w-[35%] h-full justify-end items-center pr-[2.5%] gap-[5%]">
        <button
          class="flex flex-row gap-[3.5%] items-center hover:bg-slate-200 hover:bg-opacity-25 px-[2%] py-[1%] rounded-md">
          <img src="assets/opcion1.svg" alt="" class="h-10 w-10">
          <p class="text-white font-bold font-google-anta text-2xl">Explorar</p>
        </button>
        <button
          class="flex flex-row gap-[3.5%] items-center hover:bg-slate-200 hover:bg-opacity-25 px-[2%] py-[1%] rounded-md">
          <img src="assets/opcion2.svg" alt="" class="h-10 w-10">
          <p class="text-white font-bold font-google-anta text-2xl">Comunidad</p>
        </button>
        <button
          class="flex flex-row gap-[3.5%] items-center hover:bg-slate-200 hover:bg-opacity-25 px-[2%] py-[1%] rounded-md">
          <img src="assets/opcion3.svg" alt="" class="h-10 w-10">
          <p class="text-white font-bold font-google-anta text-2xl">Herramientas</p>
        </button>
      </div>
    </section>
    <section class="w-[100%] h-[80%] bg-slate-600 relative">
      <div class="absolute w-full h-full bg-black bg-opacity-50"></div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/La_plaza_y_el_Congreso.jpg" alt=""
        class="h-full w-full object-cover">
      <div class="flex flex-col absolute h-[50%] top-[35%] left-[6.5%] items-center justify-start gap-[10%]">
        <p class="text-7xl text-white font-bold font-google-anta" style="text-shadow: 3px 3px black;"> El facilitador de
          las ciudades inteligentes en Bolivia
        </p>
        <p class="text-3xl text-white font-google-anta" style="text-shadow: 3px 3px black;"> Aceleremos el
          cambio para una vida urbana mejor con conocimientos y acceso al mercado para lo sectores publico
          y privado</p>
        <p class="text-5xl text-white font-bold font-google-anta" style="text-shadow: 3px 3px black;">UrbanEase
          Solutions:
          Conectando Ciudades, Transformando Vidas</p>
      </div>
    </section>
    <section class="w-[100%] h-[130%]  items-center justify-center flex flex-col ">
      <p class="mt-[5%] text-6xl font-bold font-google-anta text-black" style="text-shadow:  4px 4px #31bb11;">Ayudamos
        a
        resolver
        tus <span class="text-black">retos</span> urbanos</p>
      <div class="h-[64%] w-full  mt-[4%] flex flex-row gap-[1%] px-[2%] py-[3%]">
        <div class="w-[33%] h-full flex flex-col items-center justify-center gap-[5%]">
          <p class="text-black text-4xl font-google-anta text-center">¿La
            complejidad de la contratación te impide
            innovar con
            impacto?</p>
          <img src="https://www.bable-smartcities.eu/fileadmin/user_upload/customElements/bable/services/contract.svg"
            alt="" class="h-[40%] w-[100%] object-contain my-[7%]">
          <p class="text-black text-4xl font-google-anta text-center"><span
              class="text-custom-primary font-bold">UrbanEase</span> puede
            ayudarte a navegar por el mercado
            apoyándote en <span class="text-custom-primary font-bold"> las licitaciones</span> públicas.</p>
        </div>
        <div class="w-[33%] h-full flex flex-col items-center justify-center gap-[5%]">
          <p class="text-black text-4xl font-google-anta text-center">¿No
            estás seguro de tener la capacidad o la experiencia en tu organización para redactar una hoja de ruta hacia
            una innovación de vanguardia?</p>
          <img src="https://www.bable-smartcities.eu/fileadmin/user_upload/customElements/bable/services/guy_idea.svg"
            alt="" class="h-[40%] w-[100%] object-contain my-[7%]">
          <p class="text-black text-4xl font-google-anta text-center"><span
              class="text-custom-primary font-bold">UrbanEase</span> puede ayudarte a definir y aplicar una <span
              class="text-custom-primary font-bold">estrategia inteligente</span> que te ayude a convertirte en un
            ejemplo
            responsable.</p>
        </div>
        <div class="w-[33%] h-full flex flex-col items-center justify-center gap-[5%]">
          <p class="text-black text-4xl font-google-anta text-center">¿No
            consigues financiación suficiente para alimentar tus ambiciones?</p>
          <img src="https://www.bable-smartcities.eu/fileadmin/user_upload/customElements/bable/services/money.svg"
            alt="" class="h-[40%] w-[100%] object-contain my-[7%]">
          <p class="text-black text-4xl font-google-anta text-center"><span
              class="text-custom-primary font-bold">UrbanEase</span> puede guiarte para encontrar y solicitar <span
              class="text-custom-primary font-bold">oportunidades de financiación</span> que marquen la diferencia.</p>
        </div>
      </div>
      <div class="h-[20%] w-full flex items-center justify-center">
        <p class="text-black text-4xl font-google-anta text-center"> <span class="text-custom-primary font-bold">Y mucho
            más</span>, incluyendo formación y apoyo para la transformación
          digital.</p>
      </div>
    </section>
    <section class="flex flex-row w-[100%] h-[80%]  px-[10%]">
      <div class="px-[2%]  w-[50%] h-full flex items-center justify-center">
        <p class="text-black font-google-anta text-2xl ">
          La plataforma tiene como objetivo acercar a la ciudadanía el gobierno, tanto a través de información, como
          recibiendo colaboraciones en proyectos urbanos desarrollados por la ciudad. Aporta, de forma clara e
          ilustrada, explicaciones y orientaciones sobre la legislación de ordenamiento y ocupación del suelo, proyectos
          de intervención urbana, además de una recopilación de presentaciones, datos y documentos sobre estos temas.

          También es el canal de interacción con la población, a través del cual los ciudadanos pueden realizar aportes.
          También presenta una sesión de agenda participativa, con el fin de dar a conocer el calendario de canales de
          participación presencial, como las audiencias públicas.
        </p>
      </div>
      <div class=" w-[50%] h-full flex items-center justify-center">
        <img src="https://www.cideu.org/wp-content/uploads/Gesti%C3%B3n-Urbana2-Sao-Paulo.jpg-1024x701.jpg" alt="">
      </div>
    </section>
    <section class="flex flex-row w-[100%] h-[80%]  px-[10%]">
      <div class=" w-[50%] h-full flex items-center justify-center">
        <img
          src="https://i0.wp.com/iyf.org.bo/wp-content/uploads/2019/06/conferencia-magistral-imei-en-santa-cruz-1.jpg?fit=640%2C640&ssl=1"
          alt="" class="w-full h-[70%] object-cover rounded-xl shadow-custom-shadow">
      </div>
      <div class="w-[50%] h-full flex flex-col items-center justify-center gap-8 p-6">
        <p class="text-black font-google-anta text-4xl font-bold" style="text-shadow: 3px 3px #31bb11;">¿Quiénes Somos?
        </p>
        <div class="text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide max-w-4xl">
          <p>
            En UrbanEase Solutions, somos una empresa dedicada a ofrecer soluciones tecnológicas de vanguardia para
            entornos urbanos. Nos distinguimos por nuestra pasión por la innovación y nuestro compromiso con la calidad
            en
            cada línea de código que escribimos. Nuestro equipo está formado por expertos en diversas disciplinas,
            incluyendo dirección de proyectos ágiles, desarrollo web y móvil, inteligencia artificial y gestión de
            datos,
            asegurando que podamos abordar una amplia gama de desafíos tecnológicos con éxito.
          </p>
        </div>
      </div>
    </section>
    <section class="flex flex-row w-[100%] h-[80%]  px-[10%]">
      <div class="w-[60%] h-full flex flex-col items-center justify-center gap-8 p-6">
        <p class="text-black font-google-anta text-4xl font-bold" style="text-shadow: 3px 3px #31bb11;">Nuestra Historia
        </p>
        <div class="text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide max-w-4xl">
          <p>
            UrbanEase Solutions emerge como una startup fundada por estudiantes de la Universidad Gabriel René Moreno,
            guiados por la visión compartida de impulsar la innovación en el desarrollo de software. Desde nuestros
            inicios, nos hemos especializado en soluciones tecnológicas integrales que abordan los desafíos urbanos
            modernos, incluyendo georreferenciación, manejo de datos geoespaciales, inteligencia artificial y más. A
            pesar de ser una empresa joven, hemos construido un sólido historial en el campo tecnológico, demostrando
            nuestra capacidad para enfrentar proyectos complejos y satisfacer las expectativas de nuestros clientes.
          </p>
        </div>
      </div>
      <div class=" w-[40%] h-full flex items-center justify-center">
        <img src="https://www.santacruz.gob.bo/sites/default/files/inline-images/1_140.jpg" alt=""
          class="w-full h-[70%] object-cover rounded-xl shadow-custom-shadow">
      </div>
    </section>
    <section class="shadow-customMap-shadow flex  flex-col justify-between bg-custom-primary w-full h-[23%] px-[3%]">
      <div class="flex flex-row h-[75%] w-full ">
        <div class=" flex flex-col  w-[50%] h-full gap-[1%] items-start justify-center">
          <p class="text-white font-bold font-google-anta text-4xl">{{"Contactanos"}}</p>
          <div class="flex flex-row gap-[2%]">
            <img src="assets/facebook.svg" alt="" class="h-10 w-10">
            <img src="assets/icons8-linkedin.svg" alt="" class="h-10 w-10">
            <img src="assets/twitter.svg" alt="" class="h-10 w-10">
            <img src="assets/instagram.svg" alt="" class="h-10 w-10">
            <img src="assets/youtube.svg" alt="" class="h-10 w-10">
          </div>
          <p class="text-white font-bold font-google-anta text-2xl">{{"UrbanEase@gmail.com"}} {{"Telefono : +591
            78452415"}}</p>
        </div>
        <div class=" flex flex-col  w-[50%] h-full gap-[1%] items-start justify-center">
          <p routerLink="/politicas-empresa" class="text-white  font-google-anta text-4xl font-bold cursor-pointer">
            {{"Nuestra
            Empresa"}}</p>
          <p routerLink="/politicas-empresa" class="text-white  font-google-anta text-2xl cursor-pointer">{{"Sobre
            Nosotros"}}</p>
          <p routerLink="/politicas-empresa" class="text-white  font-google-anta text-2xl cursor-pointer">{{"Mision y
            Vision"}}</p>
          <p routerLink="/politicas-empresa" class="text-white  font-google-anta text-2xl cursor-pointer">{{"Aviso de
            privacidad"}}</p>
        </div>
      </div>
      <div class=" w-[100%] h-[25%] flex items-center justify-start">
        <p class="text-white font-bold font-google-anta text-3xl"> Copyright © 2024. Todos los derechos reservados</p>
      </div>
    </section>
  </div>
</div>