<div class="w-screen h-screen  flex flex-col overflow-auto">
  <div class="h-[100%] w-[100%]">
    <section class="shadow-customMap-shadow flex  flex-row justify-between bg-custom-primary w-full h-[12%] ">
      <div class="flex flex-row justify-center items-center">
        <img src="assets/logo_sw2final.png" alt="" class="object-contain h-[200px] w-[200px]">
        <p class="text-white font-bold font-google-anta text-5xl" style="text-shadow: 3.5px 3.5px black;">UrbanEase
          Solutions
        </p>
      </div>
      <div class="flex flex-row w-[35%] h-full justify-end items-center pr-[2.5%] gap-[5%]">
        <button
          class="flex flex-row gap-[3.5%] items-center hover:bg-slate-200 hover:bg-opacity-25 px-[2%] py-[1%] rounded-md">
          <img src="assets/opcion1.svg" alt="" class="h-10 w-10">
          <p class="text-white font-bold font-google-anta text-2xl">Explorar</p>
        </button>
        <button
          class="flex flex-row gap-[3.5%] items-center hover:bg-slate-200 hover:bg-opacity-25 px-[2%] py-[1%] rounded-md">
          <img src="assets/opcion2.svg" alt="" class="h-10 w-10">
          <p class="text-white font-bold font-google-anta text-2xl">Comunidad</p>
        </button>
        <button
          class="flex flex-row gap-[3.5%] items-center hover:bg-slate-200 hover:bg-opacity-25 px-[2%] py-[1%] rounded-md">
          <img src="assets/opcion3.svg" alt="" class="h-10 w-10">
          <p class="text-white font-bold font-google-anta text-2xl">Herramientas</p>
        </button>
      </div>
    </section>
    <section class="w-[100%] h-[80%] bg-slate-600 relative">
      <div class="absolute w-full h-full bg-black bg-opacity-50"></div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/La_plaza_y_el_Congreso.jpg" alt=""
        class="h-full w-full object-cover">
      <div class="flex flex-col absolute h-[50%] top-[35%] left-[6.5%] items-center justify-start gap-[10%]">
        <p class="text-7xl text-white font-bold font-google-anta" style="text-shadow: 3px 3px black;"> El facilitador de
          las ciudades inteligentes en Bolivia
        </p>
        <p class="text-3xl text-white font-google-anta" style="text-shadow: 3px 3px black;"> Aceleremos el
          cambio para una vida urbana mejor con conocimientos y acceso al mercado para lo sectores publico
          y privado</p>
        <p class="text-5xl text-white font-bold font-google-anta" style="text-shadow: 3px 3px black;">UrbanEase
          Solutions:
          Conectando Ciudades, Transformando Vidas</p>
      </div>
    </section>
    <section class="w-[100%] h-[130%]  items-center justify-center flex flex-col ">
      <p class="mt-[5%] text-6xl font-bold font-google-anta text-black" style="text-shadow:  4px 4px #31bb11;">Ayudamos
        a
        resolver
        tus <span class="text-black">retos</span> urbanos</p>
      <div class="h-[64%] w-full  mt-[4%] flex flex-row gap-[1%] px-[2%] py-[3%]">
        <div class="w-[33%] h-full flex flex-col items-center justify-center gap-[5%]">
          <p class="text-black text-4xl font-google-anta text-center">¿La
            complejidad de la contratación te impide
            innovar con
            impacto?</p>
          <img src="https://www.bable-smartcities.eu/fileadmin/user_upload/customElements/bable/services/contract.svg"
            alt="" class="h-[40%] w-[100%] object-contain my-[7%]">
          <p class="text-black text-4xl font-google-anta text-center"><span
              class="text-custom-primary font-bold">UrbanEase</span> puede
            ayudarte a navegar por el mercado
            apoyándote en <span class="text-custom-primary font-bold"> las licitaciones</span> públicas.</p>
        </div>
        <div class="w-[33%] h-full flex flex-col items-center justify-center gap-[5%]">
          <p class="text-black text-4xl font-google-anta text-center">¿No
            estás seguro de tener la capacidad o la experiencia en tu organización para redactar una hoja de ruta hacia
            una innovación de vanguardia?</p>
          <img src="https://www.bable-smartcities.eu/fileadmin/user_upload/customElements/bable/services/guy_idea.svg"
            alt="" class="h-[40%] w-[100%] object-contain my-[7%]">
          <p class="text-black text-4xl font-google-anta text-center"><span
              class="text-custom-primary font-bold">UrbanEase</span> puede ayudarte a definir y aplicar una <span
              class="text-custom-primary font-bold">estrategia inteligente</span> que te ayude a convertirte en un
            ejemplo
            responsable.</p>
        </div>
        <div class="w-[33%] h-full flex flex-col items-center justify-center gap-[5%]">
          <p class="text-black text-4xl font-google-anta text-center">¿No
            consigues financiación suficiente para alimentar tus ambiciones?</p>
          <img src="https://www.bable-smartcities.eu/fileadmin/user_upload/customElements/bable/services/money.svg"
            alt="" class="h-[40%] w-[100%] object-contain my-[7%]">
          <p class="text-black text-4xl font-google-anta text-center"><span
              class="text-custom-primary font-bold">UrbanEase</span> puede guiarte para encontrar y solicitar <span
              class="text-custom-primary font-bold">oportunidades de financiación</span> que marquen la diferencia.</p>
        </div>
      </div>
      <div class="h-[20%] w-full flex items-center justify-center">
        <p class="text-black text-4xl font-google-anta text-center"> <span class="text-custom-primary font-bold">Y mucho
            más</span>, incluyendo formación y apoyo para la transformación
          digital.</p>
      </div>
    </section>
    <section class="flex flex-row w-[100%] h-[80%]  px-[10%]">
      <div class="px-[2%]  w-[50%] h-full flex items-center justify-center">
        <p class="text-black font-google-anta text-2xl ">
          La plataforma tiene como objetivo acercar a la ciudadanía el gobierno, tanto a través de información, como
          recibiendo colaboraciones en proyectos urbanos desarrollados por la ciudad. Aporta, de forma clara e
          ilustrada, explicaciones y orientaciones sobre la legislación de ordenamiento y ocupación del suelo, proyectos
          de intervención urbana, además de una recopilación de presentaciones, datos y documentos sobre estos temas.

          También es el canal de interacción con la población, a través del cual los ciudadanos pueden realizar aportes.
          También presenta una sesión de agenda participativa, con el fin de dar a conocer el calendario de canales de
          participación presencial, como las audiencias públicas.
        </p>
      </div>
      <div class=" w-[50%] h-full flex items-center justify-center">
        <img src="https://www.cideu.org/wp-content/uploads/Gesti%C3%B3n-Urbana2-Sao-Paulo.jpg-1024x701.jpg" alt="">
      </div>
    </section>
    <section class="flex flex-row w-[100%] h-[80%]  px-[10%]">
      <div class=" w-[50%] h-full flex items-center justify-center">
        <img
          src="https://i0.wp.com/iyf.org.bo/wp-content/uploads/2019/06/conferencia-magistral-imei-en-santa-cruz-1.jpg?fit=640%2C640&ssl=1"
          alt="" class="w-full h-[70%] object-cover rounded-xl shadow-custom-shadow">
      </div>
      <div class="w-[50%] h-full flex flex-col items-center justify-center gap-8 p-6">
        <p class="text-black font-google-anta text-4xl font-bold" style="text-shadow: 3px 3px #31bb11;">¿Quiénes Somos?
        </p>
        <div class="text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide max-w-4xl">
          <p>
            En UrbanEase Solutions, somos una empresa dedicada a ofrecer soluciones tecnológicas de vanguardia para
            entornos urbanos. Nos distinguimos por nuestra pasión por la innovación y nuestro compromiso con la calidad
            en
            cada línea de código que escribimos. Nuestro equipo está formado por expertos en diversas disciplinas,
            incluyendo dirección de proyectos ágiles, desarrollo web y móvil, inteligencia artificial y gestión de
            datos,
            asegurando que podamos abordar una amplia gama de desafíos tecnológicos con éxito.
          </p>
        </div>
      </div>
    </section>
    <section class="flex flex-row w-[100%] h-[80%]  px-[10%]">
      <div class="w-[60%] h-full flex flex-col items-center justify-center gap-8 p-6">
        <p class="text-black font-google-anta text-4xl font-bold" style="text-shadow: 3px 3px #31bb11;">Nuestra Historia
        </p>
        <div class="text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide max-w-4xl">
          <p>
            UrbanEase Solutions emerge como una startup fundada por estudiantes de la Universidad Gabriel René Moreno,
            guiados por la visión compartida de impulsar la innovación en el desarrollo de software. Desde nuestros
            inicios, nos hemos especializado en soluciones tecnológicas integrales que abordan los desafíos urbanos
            modernos, incluyendo georreferenciación, manejo de datos geoespaciales, inteligencia artificial y más. A
            pesar de ser una empresa joven, hemos construido un sólido historial en el campo tecnológico, demostrando
            nuestra capacidad para enfrentar proyectos complejos y satisfacer las expectativas de nuestros clientes.
          </p>
        </div>
      </div>
      <div class=" w-[40%] h-full flex items-center justify-center">
        <img src="https://www.santacruz.gob.bo/sites/default/files/inline-images/1_140.jpg" alt=""
          class="w-full h-[70%] object-cover rounded-xl shadow-custom-shadow">
      </div>
    </section>
    <section class=" w-[100%] h-[130%]  px-[10%] ">
      <div class="w-[100%] h-full  gap-8 p-6">
        <p class="text-black font-google-anta text-4xl font-bold mb-6" style="text-shadow: 3px 3px #31bb11;">Contáctanos
        </p>
        <div class="text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide ">
          <p class="font-bold text-3xl pb-4 text-gray-800">¿Tienes Preguntas o Comentarios?
          </p>
          <p class="text-xl text-gray-700 leading-relaxed mb-6">En UrbanEase Solutions, valoramos cada comentario y
            pregunta que recibimos. Nuestro equipo está dedicado a proporcionar respuestas y asistencia de la manera más
            rápida y efectiva posible. Si tienes alguna duda sobre nuestros servicios, funcionalidades o cualquier otra
            inquietud, no dudes en comunicarte con nosotros.</p>
          <p class="font-bold text-3xl pb-4 text-gray-800">¿Cómo Puedes Contactarnos?
          </p>
          <p class="text-xl text-gray-700 leading-relaxed mb-6">Hemos establecido múltiples canales de comunicación para
            asegurarnos de que puedas ponerte en contacto con nosotros de la manera más conveniente para ti. A
            continuación, te proporcionamos toda la información necesaria para contactarnos:</p>
          <p class="text-xl text-gray-700 leading-relaxed mb-6 font-bold">Dirección Física:</p>
          <ul class="list-disc pl-8 text-xl text-gray-700 leading-relaxed mb-6">
            <li>
              Mejorar la funcionalidad del sitio web.
            </li>
            <li>
              Analizar el tráfico y el uso del sitio.
            </li>
            <li>
              Personalizar su experiencia de navegación.
            </li>
            <li>
              Recordar sus preferencias de usuario.
            </li>
          </ul>
          <p class="text-xl text-gray-700 leading-relaxed mb-6 font-bold">Teléfonos:</p>
          <ul class="list-disc pl-8 text-xl text-gray-700 leading-relaxed mb-6">
            <li>
              Oficina Principal: +591 123 456 789
            </li>
            <li>
              Servicio al Cliente: +591 987 654 321
            </li>
          </ul>
          <p class="text-xl text-gray-700 leading-relaxed mb-6 font-bold">Correo Electrónico:</p>
          <ul class="list-disc pl-8 text-xl text-gray-700 leading-relaxed mb-6">
            <li>
              {{"Consultas Generales: info@urbaneasesolutions.com"}}
            </li>
            <li>
              {{"Soporte Técnico: soporte@urbaneasesolutions.com"}}
            </li>
          </ul>
          <p class="text-xl text-gray-700 leading-relaxed mb-6 font-bold">Interesado en una Demostración</p>
          <p class="text-xl text-gray-700 leading-relaxed mb-6">Si estás interesado en ver una demostración de nuestras
            soluciones, nos encantaría mostrarte cómo UrbanEase Solutions puede beneficiar a tu comunidad. Puedes
            solicitar una demostración visitando nuestra página especial para el Distrito 7. Aquí te mostraremos todas
            las funcionalidades y beneficios de nuestra plataforma en tiempo real.</p>
          <p class="font-bold text-3xl pb-4 text-gray-800">Visita la Página del Distrito 7:</p>
          <div class="text-xl text-gray-700 leading-relaxed mb-6">
            <a class="text-blue-500 font-bold underline" href="https://gilded-tiramisu-d90df6.netlify.app/">
              Ver Demostración WEB
            </a>
            <br>
            <a class="text-blue-500 font-bold underline"
              href="https://drive.google.com/file/d/1QjzaDXfpg8mn7TWmWyS-WsQjdmSg4J2L/view?usp=sharing">
              Ver Demostración Mobil
            </a>
          </div>
        </div>
      </div>

    </section>
    <section class="flex flex-row w-[100%] h-[80%]  px-[10%]">
      <div class="w-[60%] h-full flex flex-col  gap-8 p-6 items-center justify-center">
        <p class="text-black font-google-anta text-4xl font-bold " style="text-shadow: 3px 3px #31bb11;">
          Formulario de
          Contacto
        </p>
        <div class="h-[80%] w-[100%] text-black font-google-anta text-2xl text-justify leading-relaxed tracking-wide ">
          <div class="flex flex-row w-full h-[15%] gap-[3%] justify-center items-center">
            <input placeholder="Nombre Completo" type="text" name="" id=""
              class="px-[2%] text-2xl text-black font-google-anta outline-none h-[80%] w-[50%] border-2  focus:border-4 border-slate-300 focus:border-custom-primary rounded-xl">
            <input placeholder="Correo Electronico" type="text" name="" id=""
              class="px-[2%] text-2xl text-black font-google-anta outline-none h-[80%] w-[50%] border-2 focus:border-4 border-slate-300 focus:border-custom-primary rounded-xl">
          </div>
          <textarea name="" id="" placeholder="Mensaje de consulta"
            class="h-[60%] w-full resize-none p-[2%] text-2xl text-black font-google-anta outline-none  border-2 focus:border-4 border-slate-300 focus:border-custom-primary rounded-xl"></textarea>
          <div class="flex flex-row w-full h-[15%] gap-[3%] ">
            <button (click)="executeReCaptchaV3()"
              class="bg-custom-primary text-white font-bold font-google-anta text-2xl px-[2%] py-[1%] rounded-md ">Enviar</button>
            <re-captcha (resolved)="executeRecaptchaVisible($event)"
              siteKey="6Ld1xgIqAAAAAOAwQZnlSdGdtauj789F_sekMOmQ" />
          </div>
        </div>
      </div>
      <div class=" w-[40%] h-full flex items-center justify-center">
        <img src="https://i.pinimg.com/564x/93/da/c3/93dac36b22f0d605e3421f33f810ebbd.jpg" alt=""
          class="w-full h-[70%] object-cover rounded-xl shadow-custom-shadow">
      </div>
    </section>

    <section class="shadow-customMap-shadow flex  flex-col justify-between bg-custom-primary w-full h-[23%] px-[3%]">
      <div class="flex flex-row h-[75%] w-full ">
        <div class=" flex flex-col  w-[50%] h-full gap-[1%] items-start justify-center">
          <p class="text-white font-bold font-google-anta text-4xl">{{"Contactanos"}}</p>
          <div class="flex flex-row gap-[2%]">
            <img src="assets/facebook.svg" alt="" class="h-10 w-10">
            <img src="assets/icons8-linkedin.svg" alt="" class="h-10 w-10">
            <img src="assets/twitter.svg" alt="" class="h-10 w-10">
            <img src="assets/instagram.svg" alt="" class="h-10 w-10">
            <img src="assets/youtube.svg" alt="" class="h-10 w-10">
          </div>
          <p class="text-white font-bold font-google-anta text-2xl">{{"UrbanEase@gmail.com"}} {{"Telefono : +591
            78452415"}}</p>
        </div>
        <div class=" flex flex-col  w-[50%] h-full gap-[1%] items-start justify-center">
          <p routerLink="/politicas-empresa" class="text-white  font-google-anta text-4xl font-bold cursor-pointer">
            {{"Nuestra
            Empresa"}}</p>
          <p routerLink="/politicas-empresa" class="text-white  font-google-anta text-2xl cursor-pointer">{{"Sobre
            Nosotros"}}</p>
          <p routerLink="/politicas-empresa" class="text-white  font-google-anta text-2xl cursor-pointer">{{"Mision y
            Vision"}}</p>
          <p routerLink="/politicas-empresa" class="text-white  font-google-anta text-2xl cursor-pointer">{{"Aviso de
            privacidad"}}</p>
        </div>
      </div>
      <div class=" w-[100%] h-[25%] flex items-center justify-start">
        <p class="text-white font-bold font-google-anta text-3xl"> Copyright © 2024. Todos los derechos reservados</p>
      </div>
    </section>

  </div>
</div>
<!-- Overlay/Modal Background -->
<div [ngClass]="{'hidden': !showModal}" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center "
  id="model">
  <div
    class="bg-slate-50 h-[55%] w-[50%] rounded-xl flex flex-col gap-[2%] justify-center items-center px-[1.5%] py-[0.5%]">
    <p class="font-bold text-4xl font-google-anta " style="text-shadow: 2px 2px #31bb11;"> USO DE COOKIES
    </p>
    <div class="w-full h-[70%] flex-shrink-0 overflow-auto pr-8 font-google-anta  rounded-lg p-[1%]">
      <p class="font-bold text-3xl pb-4 text-gray-800">¿Qué son las cookies?</p>
      <p class="text-xl text-gray-700 leading-relaxed mb-6">Las cookies son pequeños archivos de texto que se almacenan
        en su dispositivo cuando visita nuestro sitio web. Nos ayudan a mejorar su experiencia al recordar sus
        preferencias y visitas.</p>
      <p class="font-bold text-3xl pb-4 text-gray-800">¿Por qué usamos cookies?</p>
      <ul class="list-disc pl-8 text-xl text-gray-700 leading-relaxed mb-6">
        <li>
          Mejorar la funcionalidad del sitio web.
        </li>
        <li>
          Analizar el tráfico y el uso del sitio.
        </li>
        <li>
          Personalizar su experiencia de navegación.
        </li>
        <li>
          Recordar sus preferencias de usuario.
        </li>
      </ul>
      <p class="font-bold text-3xl pb-4 text-gray-800">Tipos de cookies que utilizamos:</p>
      <ul class="list-disc pl-8 text-xl text-gray-700 leading-relaxed mb-6">
        <li>
          <strong>Cookies esenciales:</strong> Necesarias para el funcionamiento básico del sitio web.
        </li>
        <li>
          <strong>Cookies de rendimiento:</strong> Nos ayudan a entender cómo los usuarios interactúan con nuestro
          sitio.
        </li>
        <li>
          <strong>Cookies de funcionalidad:</strong>
          Permiten recordar sus preferencias y mejorar su experiencia.
        </li>
        <li>
          <strong>Cookies de publicidad:</strong>
          Utilizadas para mostrar anuncios relevantes y personalizados.
        </li>
      </ul>
      <p class="font-bold text-3xl pb-4 text-gray-800">¿Cómo puede gestionar las cookies?</p>
      <p class="text-xl text-gray-700 leading-relaxed mb-6">Puede gestionar y eliminar las cookies a través de la
        configuración de su navegador. Tenga en cuenta que deshabilitar las cookies puede afectar su experiencia en
        nuestro sitio web.
        Para más información sobre cómo usamos las cookies y cómo puede gestionarlas, consulte nuestra
        <a class="text-blue-500 font-bold underline" href="" routerLink="/politicas-empresa">
          Política de
          Privacidad.
        </a>
      </p>
    </div>
    <div class=" w-[100%] h-[14%] flex flex-row justify-end items-end py-[0.5%] gap-[2%]">
      <button (click)="continuar()"
        class="bg-custom-primary text-white font-bold font-google-anta text-2xl px-[2%] py-[1%] rounded-md ">Rechazar</button>
      <button (click)="rechazar()"
        class="bg-custom-primary text-white font-bold font-google-anta text-2xl px-[2%] py-[1%] rounded-md ">Aceptar</button>

    </div>
  </div>
</div>